.userList{
    flex: 4;
}

.userListImg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.userlistUser{
    display: flex;
    align-items: center;
}

.userListAction{
    display: flex;
    justify-content: center;
align-items: center;
text-align: center;
}

.userListbtn{
    border: none;
    border-radius: 10px;
    background-color: rgb(5, 153, 5);
    color: rgb(253, 253, 252);
margin-right: 10px;
    padding: 5px 8px;
    cursor: pointer;
}



.userListRemove{
    border: none;
    border-radius: 10px;
    background-color: rgb(252, 251, 251);
    color: rgb(224, 9, 20);
margin-right: 10px;
    padding: 5px 8px;
    cursor: pointer;
}
